<div class="container">
  <div id="slide">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img class="d-block w-100 " [src]="images.image1" alt="Random first slide" >
        <div class="carousel-caption">
            <h3><mark>Calm environmet</mark></h3>
            <p><mark>Nulla vitae elit libero, a pharetra augue mollis interdum.</mark></p>
          </div>
      </ng-template>
      <ng-template ngbSlide>
        <img class="d-block w-100 " [src]="images.image2" alt="Random second slide" >
        <div class="carousel-caption">
            <h3><mark>Most Experienced Staff</mark></h3>
            <p><mark>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</mark></p>
          </div>
      </ng-template>
      <ng-template ngbSlide>
        <img class="d-block w-100 " [src]="images.image3" alt="Random third slide" >
        <div class="carousel-caption">
            <h3><mark>Best Food In Colombo</mark></h3>
            <p><mark>More you eat, More you will love.</mark></p>
          </div>
      </ng-template>
    </ngb-carousel>
  </div>
  </div>