<div class="imageflow">
  <div class="container">


    <form #f="ngForm">
      <div class="row">
        <div class="col-md-4 ">
        </div>
        <div class="col-md-4 form-group">
          <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
          </div>
        </div>
        <div class="col-md-4 form-group">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 ">
        </div>
        <div class="col-md-4 form-group">
          <label>Reservation Date</label>
          <input class="form-control" [(ngModel)]="date" name="date" bsDatepicker [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker"
            [bsConfig]="bsConfig">
        </div>
        <div class="col-md-4 form-group">
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 "></div>
        <div class="col-md-4 form-group">
          <label>Reservation Time</label>
          <timepicker name="time" [(ngModel)]="mytime"></timepicker>
        </div>
        <div class="col-md-4 form-group">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 "></div>
        <div class="col-md-4 form-group">
          <label>No of People</label>
          <input type="number" class="form-control" name="count" [(ngModel)]="count" required>
        </div>
        <div class="col-md-4 form-group">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 "></div>
        <div class="col-md-4 form-group">
          <button [disabled]="!f.valid" type="submit" class="btn btn-danger" (click)="addReservation()">Reserve</button>
        </div>



        <div class="col-md-4 form-group">
        </div>
      </div>
    </form>

  </div>
</div>